#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
	margin: 0 auto;
	width: 95%;
    /*float:left;
    width:100%;
	border-top: solid 1px #333;
	border-bottom: solid 1px #333;*/
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
}
.nbs-flexisel-item img {
    /*width: 100%;*/
    cursor: pointer;
    position: relative;
   /* margin-top: 10px;
    margin-bottom: 10px;
    max-width:450px;*/
    max-height:244px;
	border-bottom: solid 12px #bbd5d6;
	border-top: solid 12px #bbd5d6;
	border-right: solid 10px #bbd5d6;
	border-left: solid 10px #bbd5d6;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 6px;
    height: 12px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    /*opacity: 0.5;*/
}

.nbs-flexisel-nav-left {
	background:url(../assets/buttons/btn_arrow_left.gif) no-repeat;
    left: 5px;
}

.nbs-flexisel-nav-right {
	background:url(../assets/buttons/btn_arrow_right.gif) no-repeat;
    right: 5px;
}